//
//  Dev.xcconfig
//  SwiftUIBase
//
//  Created by LongNH8 on 12/5/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

//APP
APP_NAME = [DEV]SwiftUI
PRODUCT_BUNDLE_IDENTIFIER = com.SwiftUIBase.dev
APP_VERSION = 1.0.0
APP_BUILD_VERSION = 1

// API:
API_ENDPOINT = https:\/\/api.dev.rikkei
API_VERSION = 1
